<div [hidden]="submitted">
<form class="formAlign" (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
  <div class="form-group formAlign">
    <label>Name</label>
    <input class="form-control" type="text" id="name" name="name" [(ngModel)]="name" required>
  </div>
  <div class="form-group formAlign">
    <label>Picture URL</label>
    <input class="form-control" type="picture" id="picture" name="picture" [(ngModel)]="picture">
  </div>
  <div class="form-group formAlign">
    <label>Description</label>
    <input class="form-control" type="text" id="description" name="description" [(ngModel)]="description">
  </div>
  <!-- <div class="form-group formAlign">
    <label>Ingredients</label>
    <input class="form-control" type="text" id="ingredients" name="ingredients" [(ngModel)]="ingredients">
  </div>
  <div class="form-group formAlign">
    <label>Preparation indications</label>
    <input class="form-control" type="text" id="indications" name="indications" [(ngModel)]="indications">
  </div> -->
  <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-primary">Add recipe</button>
</form>
</div>
